h1{
    color: blueviolet;
}
body{
    
        background-image: url(../public/img/dark-honeycomb.jpg);
        background-size: cover;
        background-repeat: no-repeat; 
         
}
#name{
    color: aliceblue
}